//////color
$colour-primary: #FF6060;
$colour-secondary: #F6F6F6;
$colour-white: #fff;
$colour-black: #000;
$gradient-cards: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);

///////font
$text-font: 'Montserrat', sans-serif;
$font-black: 700;
$font-bold: 500;
$font-regular: 400;


////shadow
$shadow-light: rgba(0, 0, 0, 0.23) 0px 5px 10px;
$shadow-md: rgba(0, 0, 0, 0.35) 0px 1px 15px;
$shadow-lg: rgb(38, 57, 77) 0px 12px 30px -10px;

//radius
$radius-sm: 5px;
$radius-md: 10px;
$radius-lg: 25px;


//padding
$section-padding: 5px 20px 25px 20px;